<div class="app">
  <h3>Please, select cat:</h3>
  <mat-selection-list #catsList [multiple]="false" class="list">
    <mat-list-option 
      *ngFor="let cat of cats" 
      [value]="cat.name"
      (click)="setCat(cat)"
    >
      {{cat.name}}
    </mat-list-option>
  </mat-selection-list>
  <p 
    *ngIf="catsList.selectedOptions.selected.length" 
    class="list__p"
  >
    Selected cat: {{catsList.selectedOptions.selected[0]?.value}}
  </p>
  
  <div *ngIf="cat" class="box">
    <img class="photo" [src]="cat.image.url" alt="catPhoto">
    
    <button (click)="toogleInfo()">{{infoButtonText}}</button>

    <div
      *ngIf="info"
    >
      <p>weight imperial: {{cat.weight.imperial}}</p>
      <p>weight metric: {{cat.weight.metric}}</p>
      <div
      class="info"
      *ngFor="let option of catsOptions"
      >
        <p>{{option[0]}}: {{option[1]}}</p>
      </div>
    </div>
  </div>
</div>